* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    margin-right: 32px;
    cursor: pointer;
}

.button-header {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;
}

img {
    width: 595px;
    height: 500px;
    flex-shrink: 0;
    margin-left: 121px;
    margin-top: 163px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-right: 57px;
    margin-left: 84px;
    margin-bottom: 518px;
}

h1 {
    color: #161A49;
    font-family: Poppins;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 582px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.learn-more {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    background: transparent;
}